.scroll{
	border:1px solid black;
	width:80%;
	overflow-y:hidden;
	overflow-x:scroll;	
}

#buttons{
	border:1px solid black;
	width:80%;
	overflow-x:scroll;	
}

#custom{
	border:1px solid black;
	padding:20px;
}

#shoppingCart{
	border:1px solid black;
	margin-right:0;
	margin-left:auto;
	height:10em;
	width:20em;
}

#favorites{
	height:25em;
	width:10em;
	border:1px solid black;
	float:left;
}

#login{
	margin-right:0;
	margin-left:auto;
	width:16em;
}

#creation{
	height:25em;
}


#body{
	float:left;
	height:25em;
	width:50%;
}

label{
	display: inline-block;
    clear: left;
    width: 9em;
    text-align: left;
}

div#login label{
	width:5em;
}

div#login .button{
	margin-left:16em;
}

.button{
	margin-left:21.5em;
}
